/* MAIN STYLES */
html, body {
	font-size: 14px;
	overflow-x: hidden;
	max-width: 100vw;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
/* HOME PAGE */
.header-block {
	-webkit-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}
.header-navbar {
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header-socials {
	text-align: start;
	align-self: center;
}
.header-socials-items {
	display: inline-flex;
}
.header-socials-items a{
	padding-right: 20px;
	color: #000;
	text-decoration: none;
}
.header-socials-items i{
	font-size: 3em;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.header-socials-items .fa-skype:focus,
.header-socials-items .fa-skype:hover {
	color: #00AFF0;
}
.header-socials-items .fa-phone:focus,
.header-socials-items .fa-phone:hover {
	color: #59267c;
}
.header-socials-items .fa-envelope-o:focus,
.header-socials-items .fa-envelope-o:hover {
	color: #D44638;
}
.header-logo {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #613F75;
	font-size: 4em;
}
.header-logo a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.header-languages {
	font-family: 'Lobster', cursive;
	font-size: 1em;
	align-self: center;
	text-align: end;
}
.header-languages a {
	position: relative;
	color: #000;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.header-languages a:focus,
.header-languages a:hover {
	color: #613F75;
}
.navbar {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	padding-bottom: 10px
}
.navbar-nav a {
	position: relative;
	color: #000;
	cursor: pointer;
	text-decoration: none;
} 
.navbar-nav a:after {
	display: block;
	position: absolute;
	top: 50px;
	left: 50%; 
	-webkit-transform: translateX(-50%); 
	        transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #613F75;
	content: "";
	-webkit-transition: 0.4s ease-in;
	transition: 0.4s ease-in;
}
.navbar-nav a:hover {
	color: #613F75;
}
.navbar-nav a:hover::after {
	width: 100%;
}
.navbar-nav a.active {
	color: #613F75;
}
.navbar-nav a.active:after {
	display: block;
	position: absolute;
	top: 50px;
	left: 50%; 
	-webkit-transform: translateX(-50%); 
	        transform: translateX(-50%);
	height: 2px;
	background-color: #613F75;
	content: "";
	-webkit-transition: 0.4s ease-in;
	transition: 0.4s ease-in;
	width: 100%;
}
.fa-align-justify {
	font-size: 1.8em;
	line-height: 1.8em;
}
.home {
	display: grid; 
	cursor: default;
	background-image: url(../img/bg_home.png);
	background-attachment: fixed;
	background-position: left bottom;
    background-size: cover;
	min-width: 100vw;
	min-height: 100vh;
}
.home-content {
	margin-top: -100px;
	display: grid;
	justify-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.home-content h1 {
	margin: 10px 0 20px 0;
    text-align: center;
    font-size: 15em;
	color: #613F75;
	font-family: 'Lobster', cursive;
}
.home-content h3{
    text-align: center;
	font-size: 3em;
	color: #613F75;
	font-family: 'Bad Script', cursive;
}
/* ABOUT ME PAGE */
.about-me {
	display: grid;
	background-image: url(../img/bg_page.png);
	background-size: cover;
	background-color: #e1ace8;
	min-height: 100vh;
	width: 100vw;
}
.about-me-container {
	-ms-flex-line-pack: center;
	    align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	justify-self: center;
}
.about-me-container strong {
	font-weight: 900;
	font-size: 1.1em;
}
.about-me-photo {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 50px 0;
	align-self: center;
}
.about-me-photo img {
	border-radius: 50%;
	width: 100%;
}
.about-me-content {
	font-size: 1.5em;
	color: #000;
	font-family: 'Bad Script', cursive;
	text-align: justify;
}
.about-me-content h1{
	font-family: 'Yeseva One', cursive;
	color: #613F75;
	text-align: center;
	padding: 75px 0;
}
.about-me-content p{
	overflow-y: hidden;
}
/* ADVANTAGES PAGE */
.advantages {
	display: grid;
	background-image: url(../img/bg_page.png);
	background-size: cover;
	background-color: #e1ace8;
	min-height: 100vh;
	width: 100vw;
}
.advantages-content {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.advantages-content:first-child {
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}
.advantages-container {
	text-align: justify;
	display: grid;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	align-self: center;
	grid-template-columns: 3fr 1fr;
	-webkit-transition: ease-in .2s;
	transition: ease-in .2s;
	padding: 25px;
}
.advantages-container:last-child {
	grid-template-columns: 1fr 3fr;
}
.advantages-container:hover {
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
	border-radius: 20px;
}
.advantages-container span {
	font-size: 1.7em;
	text-align: justify;
	font-family: 'Bad Script', cursive;
	margin: 20px;
}
.advantages-ico {
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 7em;
	padding: inherit;
}
.advantages-container:hover,
.advantages-container:focus {
	background-color: #fff;
	cursor: pointer;
}
/* FOR WHOM PAGE */
.for-whom {
	display: grid;
	background-image: url(../img/bg_page.png);
	background-color: #e1ace8;
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
}
.for-whom-content {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: justify;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-item-align: center;
	    align-self: center;
	padding: 50px 70px;
	-webkit-transition: ease-in .5s;
	transition: ease-in .5s;
}
.for-whom-content:hover, 
.for-whom-content:focus {
	background-color: #fff;
	cursor: pointer;
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1)
}
.for-whom-container h2 {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #613F75;
	font-size: 3em;
}
.for-whom-container span {
	text-align: center;
	color: #000;
	font-family: 'Bad Script', cursive;
	font-size: 1.7em;
}
.for-whom-ico {
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
			justify-content: center;
	align-self: center;
	font-size: 14em;
	padding: inherit;
}
/* HOW WE WORK PAGE */
.how-we-work {
	background-image: url(../img/bg_page.png);
	background-color: #e1ace8;
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
}
.how-we-work-thumbnails {
	list-style: none;
	padding: 25px;
	text-align: center;
	margin-bottom: 0;
}
.how-we-work-thumbnails .thumbnail {
	background-color: transparent;
	border: none;
}
.how-we-work-thumbnails h3 {
	font-family: 'Yeseva One', cursive;
	color: #613F75;
	font-size: 2em;
}
.how-we-work-thumbnails p {
	color: #000;
	font-family: 'Bad Script', cursive;
	font-size: 1.7em;
}
.how-we-work-ico {
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 14em;
	padding: inherit;
}
.thumbnail {
	-webkit-transition: ease-in .2s;
	transition: ease-in .2s;
	border-radius: 20px;
}
.thumbnail:hover {
	background-color: #fff;
	cursor: pointer;
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
}
/* FEEDBACK PAGE */
.feedback {
	display: grid;
	background-image: url(../img/bg_page.png);
	background-size: cover;
	background-color: #e1ace8;
	min-height: 100vh;
	width: 100vw;
}
.feedback-content {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: justify;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-item-align: center;
	    align-self: center;
	padding: 50px 75px;
	-webkit-transition: ease-in .5s;
	transition: ease-in .5s;
}
.feedback-content:hover, 
.feedback-content:focus {
	background-color: #fff;
	cursor: pointer;
	-webkit-transform: scale(1.1, 1.1);
			transform: scale(1.1, 1.1);
	z-index: 999;
}
.feedback-container h2 {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #613F75;
}
.feedback-container span {
	text-align: center;
	color: #000;
	font-family: 'Bad Script', cursive;
	font-size: 1.3em;
}
.feedback-container img {
	width: 75%;
	height: auto;
	border-right: 3px solid #613F75;
	border-radius: 50%;
}
.feedback-img {
	border-left: 5px solid #613F75;
	text-align: center;
}
/* PRICE PAGE */
.price {
	display: grid;
	background-image: url(../img/bg_page.png);
	background-size: cover;
	background-color: #e1ace8;
	width: 100vw;
}
.price-container {
	padding: 50px 20px;
	list-style: none;
}
.price-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
.price-content:hover .price-thumbnail,
.price-content:focus .price-thumbnail {
	background-color: #613F75;
	color: #fff;
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
	z-index: 999;
}
.price-thumbnail {
	background-color: #613F75;
	text-align: center;
	-webkit-transition: all ease .4s;
	transition: all ease .4s;
	margin: 0;
	padding: 0;
	border: 0;
}
.price-thumbnail-content {
	background-color: #613F75;
	font-family: 'Yeseva One', cursive;
    padding: 0;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
}
.price-thumbnail h1 {
	margin: 20px;
    padding-bottom: 40px;
    color: burlywood;
    border-bottom: 1px solid #fff;
    font-size: 6em;
    font-family: 'Yeseva One', cursive;
}
.price-thumbnail h3 {
	padding: 20px 0;
    font-size: 2em;
}
.price-thumbnail h4 {
	color: burlywood;
	padding: 20px 0;
	font-size: 2.5em;
}
.price-thumbnail p {
	padding: 10px 0;
	font-size: 2em;
}
.price-thumbnail-button {
    padding: 10px 0;
}
.price-thumbnail button {
	font-family: 'Yeseva One', cursive;
	background-color: #fff;
	color: #613F75;
	height: 50px;
	-webkit-transition: all ease .2s;
	transition: all ease .2s;
}
.price-thumbnail button:hover,
.price-thumbnail button:focus {
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
	background-color: burlywood;
}
/* CONTACT PAGE */
.contact {
	display: grid;
	background-image: url(../img/bg_page.png);
	background-size: cover;
	background-color: #e1ace8;
	width: 100vw;
}
.contact-container {
	padding-bottom: 50px;
}
.contact-article {
	font-size: 2em;
	font-family: 'Bad script', cursive;
	text-align: center;
	padding-bottom: 50px;
}
.contact-social {
	align-self: center;
	font-family: 'Yeseva One', cursive;
}
.contact-social .col-4,
.contact-social .col-md-12 {
	display: grid;
	padding: 20px;
}
.contact-social i {
	justify-self: center;
	font-size: 4em;
}
.contact-social span {
	justify-self: center;
	font-size: 1.2em;
}
.contact-social .fa-skype {
	color: #00AFF0;
}
.contact-social .fa-phone {
	color: #59267c;
}
.contact-social .fa-envelope-o {
	color: #D44638;
}
.contact-form {
	align-self: center;
	font-family: 'Yeseva One', cursive;
}
.contact-form label {
	font-size: 1.2em;
}
.contact-form input {
	line-height: 3em;
}
.contact-form textarea {
	height: auto;
	resize: none;
}
.contact-form button {
	line-height: 2em;
	float: right;
	font-family: 'Yeseva One', cursive;
    background-color: #613F75;
    color: #fff;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.contact-form button:focus,
.contact-form button:hover {
	background-color: #fff;
	color: #613F75;
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
}
.contact-form a {
	text-decoration: none;
	color: inherit;
}
/* FOOTER */
.footer {
	height: 100px;
	background-color: #fff;
	color: #613F75;
}
.footer div {
	-ms-flex-item-align: center;
	    align-self: center;
}
.footer h1 {
	padding: 10px;
	font-size: 1.2em;
	text-align: start;
}
.footer h2 {
	padding: 10px;
	font-size: 1.2em;
	text-align: center;
}
.footer h3 {
	padding: 10px;
	font-size: 1.2em;
	text-align: end;
}
.footer a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
.footer a:hover,
.footer a:hover {
	color: burlywood;
}

/* HEADER */
.header {
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: 'Yeseva One', cursive;
	color: #613F75;
	padding: 75px 0;
	text-align: center;
}
/* SEPARATOR BLOCK*/
.separator {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #fff;
	margin-bottom: 0;
}
.separator h2 {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	text-align: center;
	color: #613F75;
	font-family: 'Yeseva One', cursive;
	font-size: 2.1em;
}
.separator p {
	color: #000;
	font-family: 'Bad Script', cursive;
	font-size: 1.5em;
	text-align: center;
}
/* FREE LESSON BUTTON */
.free-lesson {
	-ms-flex-item-align: center;
	    align-self: center;
	justify-self: center;
}
.free-lesson button {
	height: 75px;
    width: auto;
    font-family: 'Yeseva One', cursive;
    background-color: #613F75;
    color: #fff;
    font-size: 1.5em;
	border-radius: 10px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	margin: 50px 0;
}
.free-lesson button:hover,
.free-lesson button:focus {
	cursor: pointer;
 	background-color: #fff;
	color: #613F75;
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1)
}
/* BLOCKQUOTE BLOCK */
blockquote {
	margin: 0;
	background: white;
	color: #000;
	padding: 30px 30px 30px 90px;
	position: relative;
	border-left: 5px solid #613F75;
}
blockquote:before {
	content: "\201C";
	font-family: serif;
	position: absolute;
	left: 20px;
	top: 20px;
	color: white;
	background: #613F75;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 3em;
	text-align: center;
}
.blockquote p{
	font-family: 'Bad Script', cursive;
}
/* MEDIA QUERIES */
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar {
		font-size: 1.7em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar {
		font-size: 1.3em;
	}
	.advantages-container span {
		font-size: 1.3em;
		margin: 0;
	}
	.how-we-work-ico {
		font-size: 10em;
		padding: 10px;
	}
	.how-we-work-thumbnails h3 {
		font-size: 1.7em
	}
	.how-we-work-thumbnails p {
		color: #000;
		font-family: 'Bad Script', cursive;
		font-size: 1.3em;
	}
	.price-thumbnail h1 {
		font-size: 4.5em;
	}
	.price-thumbnail h3 {
		font-size: 1.8em;
	}
	.price-thumbnail h4 {
		font-size: 2.2em;
	}
	.price-thumbnail p {
		font-size: 1.8em;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.home{
		background-attachment: scroll;
	}
	.navbar {
		font-size: 1.2em;
	}
	.header-logo {
		font-size: 3em;
	}
	.header-socials a {
		font-size: .6em;
	}
	.header-socials p {
		font-size: 1em;
		margin: 0;
	}
	.header-socials-items {
		font-size: 1.2em;
		display: inline-flex;
		justify-content: space-evenly;
		padding: inherit;
	}
	.header-socials-items a{
		padding-right: 0;
	}
	.home-content h3{
		text-align: center;
		font-size: 2em;
		color: #613F75;
		font-family: 'Bad Script', cursive;
	}
	.home-content h1{
		padding-top: 75px;
		font-size: 6em;
	}
	.about-me-photo {
		 padding-bottom: 20px;
	}
	.advantages-container {
		padding: 20px;
	}
	.advantages-container span {
		margin: 10px;
		font-size: 1.3em;
	}
	.for-whom-content {
		padding: 20px 20px;
	}
	.for-whom-container h2 {
		font-size: 2em;
	}
	.for-whom-container span {
		font-size: 1.3em;
	}
	.for-whom-ico {
		display: none;
	}
	.thumbnail {
		padding: 10px;
	}
	.how-we-work-thumbnails h3 {
		font-size: 2em;
	}
	.how-we-work-thumbnails p {
		font-size: 1.3em;
	}
	.how-we-work-ico {
		font-size: 9em;
	}
	.feedback-content {
		padding: 10px 30px;
	}
	.contact-social i {
		justify-self: center;
		font-size: 3em;
	}
	.contact-social span {
		justify-self: center;
		font-size: 1em;
	}
	.footer h1, h2, h3 {
		text-align: center !important;
	}
	.separator h2 {
		font-size: 2em;
	}
	.separator p {
		font-size: 1em;
	}
	.free-lesson button {
		font-size: 1.2em;
		height: 75px;
		width: 75vw;
	}
}
