body {
	overflow-x: hidden;
	max-width: 100vw;
	margin: 0;
	padding: 0;
}
/* HOME PAGE */
#header-block {
	transition: background 0.2s ease-out;
}
.header-navbar {
	width: 100vw;
	display: flex;
}
.header-socials {
	display: grid;
	justify-items: start;
}
.header-logo {
	display: grid;
    justify-items: center;
}
.navbar-logo {
	font-family: 'Lobster', cursive;
	color: #CF384C;
	font-size: 4em;
}
.navbar-logo a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.header-languages {
	font-family: 'Lobster', cursive;
	font-size: 1em;
	display: grid;
	justify-items: end;
	align-content: center;
}
.header-languages a {
	position: relative;
	color: #000;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}
.header-languages a:focus,
.header-languages a:hover {
	color: #CF384C;
}
.navbar {
	font-family: 'Lobster', cursive;
	font-size: 2em;
}
.navbar-nav a {
	position: relative;
	color: #000;
	cursor: pointer;
	text-decoration: none;

} 
.navbar-nav a:after {
	display: block;
	position: absolute;
	top: 50px;
	left: 50%; 
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #CF384C;
	content: "";
	transition: width 0.4s ease-out;
}
.navbar-nav a:focus, .navbar-nav a:hover {
	color: #CF384C;
}
.navbar-nav a:focus::after, .navbar-nav a:hover::after {
	width: 100%;
}
.fa-align-justify {
	font-size: 1.8em;
	line-height: 1.8em;
}
.home{
	display: grid; 
	cursor: default;
	background: url("../img/bg1-5.png");
	background-position: left bottom;
    background-size: cover;
    height: 100vh;
	width: auto;
}
.home-content {
	display: grid;
	justify-items: center;
	align-content: center;
}
.home-content h1 {
    text-align: center;
    font-size: 10em;
	color: #CF384C;
	font-family: 'Lobster', cursive;
}
.home-content h3{
    text-align: center;
	font-size: 3em;
	color: #CF384C;
	font-family: 'Bad Script', cursive;
}
.socials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-decoration: none;
	list-style: none;
	padding: 10px;
}
.socials li {
	padding-left: 10px;
}
.fa-skype, .fa-phone, .fa-envelope-o {
	font-size: 2.5em;
	color:#000;
}
.fa-skype:hover {
	color: #009eda;
}
.fa-phone:hover {
	color: #834995;
}
.fa-envelope-o:hover {
	color: #e65a4d;
}

/* ABOUT ME PAGE */
.about-me {
	display: grid;
	background-image: url(../img/bg2-2.png);
	background-color: #e1ace8;
	min-height: 100vh;
	width: 100vw;
}
.about-me-header {
	justify-content: center;
	background-color: #fff;
	margin-bottom: 0;
}
.about-me-header h2{
	align-self: flex-end;
	text-align: center;
	color: #CF384C;
	font-family: 'Lobster', cursive;
	font-size: 2.1em;
}
.about-me-header p{
	color: #000;
	font-family: 'Bad Script', cursive;
	font-size: 1.5em;
	text-align: center;
}
.about-me-container {
	align-content: center;
    align-items: center;
}
.about-me-photo img {
	border-radius: 50%;
}
.about-me-content {
	font-size: 1.5em;
	color: #000;
	font-family: 'Bad Script', cursive;
}
.about-me-content h1{
	font-family: 'Lobster', cursive;
	color: #CF384C;
}
.about-me-content p{
	overflow-y: hidden;
}

/* ADVANTAGES PAGE */
.advantages {
	display: grid;
	background-image: url(../img/bg2-2.png);
	background-color: #e1ace8;
	min-height: 100vh;
	width: 100vw;
}
.advantages-header {
	display: grid;
	justify-content: center;
	font-family: 'Lobster', cursive;
	color: #CF384C;
}
.advantages-content {
	justify-content: space-between;
}
.advantages-content:first-child {
	align-content: flex-start;
}
.advantages-container {
	text-align: justify;
	display: inline-flex;
	align-items: center;
	align-self: center;
}
.advantages-container span {
	padding: 20px;
}
.advantages-ico {
	display: grid;
	justify-content: center;
	font-size: 7em;
	padding: inherit;
}
.advantages-button {
	align-self: center;
	justify-self: center;
}
button {
	height: 75px;
    width: auto;
    font-family: 'Lobster', cursive;
    background-color: #CF384C;
    color: #fff;
    font-size: 1.5em;
	border-radius: 10px;
	transition: all ease 0.1s;
	/* border: 2px solid #fff; */
}
button:hover,
button:focus {
  /* box-shadow: 
    inset -8em 0 0 0 #fff,
	inset 15em 0 0 0 #fff;  
color: #CF384C; */
border: 3px solid #fff;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.navbar {
		font-size: 1.7em;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.header-navbar {
		margin-left: -20px;
	}
	.navbar {
		font-size: 1.2em;
	}
}
@media (min-width: 320px) and (max-width: 768px){
	.home-content h3{
	text-align: center;
	font-size: 2em;
	color: #CF384C;
	font-family: 'Bad Script', cursive;
	}
}
